{
  "printWidth": 140,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@environment/(.*)$",
    "^@assets/(.*)$",
    "^@root/(.*)$",
    "^@config/(.*)$",
    "^@contexts/(.*)$",
    "^@services/(.*)$",
    "^@utils/(.*)$",
    "^@pages/(.*)$",
    "^@containers/(.*)$",
    "^@components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
